### E/clipse ###
.meta/data
bin/ /
tmp/ /
*.tmp/
*.bak/
*.swp/
*~.ni/b
local/.properties
.sett/ings/
.load/path
.reco/mmenders
     /
# Ext/ernal tool builders
.exte/rnalToolBuilders/
     /
# Loc/ally stored "Eclipse launch configurations"
*.lau/nch
     /
# PyD/ev specific (Python IDE for Eclipse)
*.pyd/evproject
     /
# CDT/-specific (C/C++ Development Tooling)
.cpro/ject
     /
# CDT/- autotools
.auto/tools
     /
# Jav/a annotation processor (APT)
.fact/orypath
     /
# PDT/-specific (PHP Development Tools)
.buil/dpath
     /
# sbt/eclipse plugin
.targ/et
     /
# Ter/n plugin
.tern/-project
     /
# TeX/lipse plugin
.texl/ipse
     /
# STS/ (Spring Tool Suite)
.spri/ngBeans
     /
# Cod/e Recommenders
.reco/mmenders/
     /
# Ann/otation Processing
.apt_/generated/
     /
# Sca/la IDE specific (Scala & Java development for Eclipse)
.cach/e-main
.scal/a_dependencies
.work/sheet
     /
### E/clipse Patch ###
# Ecl/ipse Core
.proj/ect
     /
# JDT/-specific (Eclipse Java Development Tools)
.clas/spath
     /
# Ann/otation Processing
.apt_/generated
     /
.sts4/-cache/
     /
### E/macs ###
# -*-/ mode: gitignore; -*-
*~   /
\#*\#/
/.ema/cs.desktop
/.ema/cs.desktop.lock
*.elc/
auto-/save-list
tramp/
.\#* /
     /
# Org/-mode
.org-/id-locations
*_arc/hive
     /
# fly/make-mode
*_fly/make.*
     /
# esh/ell files
/eshe/ll/history
/eshe/ll/lastdir
     /
# elp/a packages
/elpa//
     /
# ref/tex files
*.rel/
     /
# AUC/TeX auto folder
/auto//
     /
# cas/k packages
.cask//
dist//
     /
# Fly/check
flych/eck_*.el
     /
# ser/ver auth directory
/serv/er/
     /
# pro/jectiles files
.proj/ectile
     /
# dir/ectory configuration
.dir-/locals.el
     /
# net/work security
/netw/ork-security.data
     /
     /
### J/ava ###
# Com/piled class file
*.cla/ss
     /
# Log/ file
*.log/
     /
# Blu/eJ files
*.ctx/t
     /
# Mob/ile Tools for Java (J2ME)
.mtj./tmp/
     /
# Pac/kage Files #
*.jar/
*.war/
*.nar/
*.ear/
*.zip/
*.tar/.gz
*.rar/
     /
# vir/tual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_er/r_pid*
     /
### L/inux ###
     /
# tem/porary files which can be created if a process still has a handle open of a deleted file
.fuse/_hidden*
     /
# KDE/ directory preferences
.dire/ctory
     /
# Lin/ux trash folder which might appear on any partition or disk
.Tras/h-*
     /
# .nf/s files are created when an open file is removed but is still being accessed
.nfs*/
     /
### m/acOS ###
# Gen/eral
.DS_S/tore
.Appl/eDouble
.LSOv/erride
     /
# Ico/n must end with two \r
Icon /
     /
# Thu/mbnails
._*  /
     /
# Fil/es that might appear in the root of a volume
.Docu/mentRevisions-V100
.fsev/entsd
.Spot/light-V100
.Temp/oraryItems
.Tras/hes
.Volu/meIcon.icns
.com./apple.timemachine.donotpresent
     /
# Dir/ectories potentially created on remote AFP share
.Appl/eDB
.Appl/eDesktop
Netwo/rk Trash Folder
Tempo/rary Items
.apdi/sk
     /
### M/aven ###
targe/t/
pom.x/ml.tag
pom.x/ml.releaseBackup
pom.x/ml.versionsBackup
pom.x/ml.next
relea/se.properties
depen/dency-reduced-pom.xml
build/Number.properties
.mvn//timing.properties
.mvn//wrapper/maven-wrapper.jar
     /
### V/im ###
# Swa/p
[._]*/.s[a-v][a-z]
[._]*/.sw[a-p]
[._]s/[a-rt-v][a-z]
[._]s/s[a-gi-z]
[._]s/w[a-p]
     /
# Ses/sion
Sessi/on.vim
Sessi/onx.vim
     /
# Tem/porary
.netr/whist
# Aut/o-generated tag files
tags /
# Per/sistent undo
[._]*/.un~
     /
### W/indows ###
# Win/dows thumbnail cache files
Thumb/s.db
Thumb/s.db:encryptable
ehthu/mbs.db
ehthu/mbs_vista.db
     /
# Dum/p file
*.sta/ckdump
     /
# Fol/der config file
[Dd]e/sktop.ini
     /
# Rec/ycle Bin used on file shares
$RECY/CLE.BIN/
     /
# Win/dows Installer files
*.cab/
*.msi/
*.msi/x
*.msm/
*.msp/
     /
# Win/dows shortcuts
*.lnk/
     /
### G/radle ###
.grad/le
build//
     /
# Ign/ore Gradle GUI config
gradl/e-app.setting
     /
# Avo/id ignoring Gradle wrapper jar file (.jar files are usually ignored)
!grad/le-wrapper.jar
     /
# Cac/he of project
.grad/letasknamecache
     /
# # W/ork around https://youtrack.jetbrains.com/issue/IDEA-116898
# gra/dle/wrapper/gradle-wrapper.properties
     /
### G/radle Patch ###
**/bu/ild/
     /
### V/isualStudio ###
## Ig/nore Visual Studio temporary files, build results, and
## fi/les generated by popular Visual Studio add-ons.
##   /
## Ge/t latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
     /
# Use/r-specific files
*.rsu/ser
*.suo/
*.use/r
*.use/rosscache
*.sln/.docstates
     /
# Use/r-specific files (MonoDevelop/Xamarin Studio)
*.use/rprefs
     /
# Mon/o auto generated files
mono_/crash.*
     /
# Bui/ld results
[Dd]e/bug/
[Dd]e/bugPublic/
[Rr]e/lease/
[Rr]e/leases/
x64/ /
x86/ /
[Aa][/Rr][Mm]/
[Aa][/Rr][Mm]64/
bld/ /
[Bb]i/n/
[Oo]b/j/
[Ll]o/g/
     /
# Vis/ual Studio 2015/2017 cache/options directory
.vs/ /
# Unc/omment if you have tasks that create the project's static files in wwwroot
#wwwr/oot/
     /
# Vis/ual Studio 2017 auto generated files
Gener/ated\ Files/
     /
# MST/est test Results
[Tt]e/st[Rr]esult*/
[Bb]u/ild[Ll]og.*
     /
# NUn/it
*.Vis/ualState.xml
TestR/esult.xml
nunit/-*.xml
     /
# Bui/ld Results of an ATL Project
[Dd]e/bugPS/
[Rr]e/leasePS/
dllda/ta.c
     /
# Ben/chmark Results
Bench/markDotNet.Artifacts/
     /
# .NE/T Core
proje/ct.lock.json
proje/ct.fragment.lock.json
artif/acts/
     /
# Sty/leCop
Style/CopReport.xml
     /
# Fil/es built by Visual Studio
*_i.c/
*_p.c/
*_h.h/
*.ilk/
*.met/a
*.obj/
*.iob/j
*.pch/
*.pdb/
*.ipd/b
*.pgc/
*.pgd/
*.rsp/
*.sbr/
*.tlb/
*.tli/
*.tlh/
*.tmp/_proj
*_wpf/tmp.csproj
*.vsp/scc
*.vss/scc
.buil/ds
*.pid/b
*.svc/log
*.scc/
     /
# Chu/tzpah Test files
_Chut/zpah*
     /
# Vis/ual C++ cache files
ipch//
*.aps/
*.ncb/
*.ope/ndb
*.ope/nsdf
*.sdf/
*.cac/hefile
*.VC./db
*.VC./VC.opendb
     /
# Vis/ual Studio profiler
*.pse/ss
*.vsp/
*.vsp/x
*.sap/
     /
# Vis/ual Studio Trace Files
*.e2e/
     /
# TFS/ 2012 Local Workspace
$tf/ /
     /
# Gui/dance Automation Toolkit
*.gpS/tate
     /
# ReS/harper is a .NET coding add-in
_ReSh/arper*/
*.[Rr/]e[Ss]harper
*.Dot/Settings.user
     /
# Jus/tCode is a .NET coding add-in
.Just/Code
     /
# Tea/mCity is a build add-in
_Team/City*
     /
# Dot/Cover is a Code Coverage Tool
*.dot/Cover
     /
# Axo/Cover is a Code Coverage Tool
.axoC/over/*
!.axo/Cover/settings.json
     /
# Vis/ual Studio code coverage results
*.cov/erage
*.cov/eragexml
     /
# NCr/unch
_NCru/nch_*
.*cru/nch*.local.xml
nCrun/chTemp_*
     /
# Mig/htyMoose
*.mm./*
AutoT/est.Net/
     /
# Web/ workbench (sass)
.sass/-cache/
     /
# Ins/tallshield output folder
[Ee]x/press/
     /
# Doc/Project is a documentation generator add-in
DocPr/oject/buildhelp/
DocPr/oject/Help/*.HxT
DocPr/oject/Help/*.HxC
DocPr/oject/Help/*.hhc
DocPr/oject/Help/*.hhk
DocPr/oject/Help/*.hhp
DocPr/oject/Help/Html2
DocPr/oject/Help/html
     /
# Cli/ck-Once directory
publi/sh/
     /
# Pub/lish Web Output
*.[Pp/]ublish.xml
*.azu/rePubxml
# Not/e: Comment the next line if you want to checkin your web deploy settings,
# but/ database connection strings (with potential passwords) will be unencrypted
*.pub/xml
*.pub/lishproj
     /
# Mic/rosoft Azure Web App publish settings. Comment the next line if you want to
# che/ckin your Azure Web App publish settings, but sensitive information contained
# in /these scripts will be unencrypted
Publi/shScripts/
     /
# NuG/et Packages
*.nup/kg
# NuG/et Symbol Packages
*.snu/pkg
# The/ packages folder can be ignored because of Package Restore
**/[P/p]ackages/*
# exc/ept build/, which is used as an MSBuild target.
!**/[/Pp]ackages/build/
# Unc/omment if necessary however generally it will be regenerated when needed
#!**//[Pp]ackages/repositories.config
# NuG/et v3's project.json files produces more ignorable files
*.nug/et.props
*.nug/et.targets
     /
# Mic/rosoft Azure Build Output
csx/ /
*.bui/ld.csdef
     /
# Mic/rosoft Azure Emulator
ecf/ /
rcf/ /
     /
# Win/dows Store app package directories and files
AppPa/ckages/
Bundl/eArtifacts/
Packa/ge.StoreAssociation.xml
_pkgi/nfo.txt
*.app/x
*.app/xbundle
*.app/xupload
     /
# Vis/ual Studio cache files
# fil/es ending in .cache can be ignored
*.[Cc/]ache
# but/ keep track of directories ending in .cache
!?*.[/Cc]ache/
     /
# Oth/ers
Clien/tBin/
~$*  /
*.dbm/dl
*.dbp/roj.schemaview
*.jfm/
*.pfx/
*.pub/lishsettings
orlea/ns.codegen.cs
     /
# Inc/luding strong name files can present a security risk
# (ht/tps://github.com/github/gitignore/pull/2483#issue-259490424)
#*.sn/k
     /
# Sin/ce there are multiple workflows, uncomment next line to ignore bower_components
# (ht/tps://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bowe/r_components/
     /
# RIA//Silverlight projects
Gener/ated_Code/
     /
# Bac/kup & report files from converting an old project file
# to /a newer Visual Studio version. Backup files are not needed,
# bec/ause we have git ;-)
_Upgr/adeReport_Files/
Backu/p*/
Upgra/deLog*.XML
Upgra/deLog*.htm
Servi/ceFabricBackup/
*.rpt/proj.bak
     /
# SQL/ Server files
*.mdf/
*.ldf/
*.ndf/
     /
# Bus/iness Intelligence projects
*.rdl/.data
*.bim/.layout
*.bim/_*.settings
*.rpt/proj.rsuser
*- [B/b]ackup.rdl
*- [B/b]ackup ([0-9]).rdl
*- [B/b]ackup ([0-9][0-9]).rdl
     /
# Mic/rosoft Fakes
Fakes/Assemblies/
     /
# Gho/stDoc plugin setting file
*.Gho/stDoc.xml
     /
# Nod/e.js Tools for Visual Studio
.ntvs/_analysis.dat
node_/modules/
     /
# Vis/ual Studio 6 build log
*.plg/
     /
# Vis/ual Studio 6 workspace options file
*.opt/
     /
# Vis/ual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw/
     /
# Vis/ual Studio LightSwitch build output
**/*./HTMLClient/GeneratedArtifacts
**/*./DesktopClient/GeneratedArtifacts
**/*./DesktopClient/ModelManifest.xml
**/*./Server/GeneratedArtifacts
**/*./Server/ModelManifest.xml
_Pvt_/Extensions
     /
# Pak/et dependency manager
.pake/t/paket.exe
paket/-files/
     /
# FAK/E - F# Make
.fake//
     /
# Cod/eRush personal settings
.cr/p/ersonal
     /
# Pyt/hon Tools for Visual Studio (PTVS)
__pyc/ache__/
*.pyc/
     /
# Cak/e - Uncomment if you are using it
# too/ls/**
# !to/ols/packages.config
     /
# Tab/s Studio
*.tss/
     /
# Tel/erik's JustMock configuration file
*.jmc/onfig
     /
# Biz/Talk build output
*.btp/.cs
*.btm/.cs
*.odx/.cs
*.xsd/.cs
     /
# Ope/nCover UI analysis results
OpenC/over/
     /
# Azu/re Stream Analytics local run output
ASALo/calRun/
     /
# MSB/uild Binary and Structured Log
*.bin/log
     /
# NVi/dia Nsight GPU debugger configuration file
*.nvu/ser
     /
# MFr/actors (Xamarin productivity tool) working folder
.mfra/ctor/
     /
# Loc/al History for Visual Studio
.loca/lhistory/
     /
# Bea/tPulse healthcheck temp database
healt/hchecksdb
     /
# Bac/kup folder for Package Reference Convert tool in Visual Studio 2017
Migra/tionBackup/
     /
.idea/
*.iml